<html>
	<head>
		<title>Steffe's card market</title>
		<link href="index.css" rel="stylesheet">
		<link href="mana.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta charset="utf-8" />
		<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		<div class = "top">
			<div class = "nav centerHor">
				<a href="/">Home</a>
				<a href="/products">Products</a>
			</div>
		</div>
		<%= yield %>
	</body>
</html>
